//
//  Page menu
//  _____________________________________________

.admin__menu {
	#menu-aheadworks-mobileappconnector-general {
		>a {
			&::before {
				content: '';
				background: url(../images/dash-sales-channel.png) no-repeat top center;
				width: 20px;
				height: 20px;
				display: inline-block;
			}
			span {
				display: block;
			}
		}
	}
}
.admin__aw-block-title {
    margin-bottom: 4rem;
    position: relative;
    z-index: 1; 
    .block-title {
	    background: #f4f4f4;
	    padding: 2rem 2.5rem;
	    span{
			font-size: 1.4rem;
			color: #524d49;
			display: block;
		}
	}
}

